<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>Cyjb.Alfred.QR</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>3EA6A9C1-2481-461B-82E6-397F053DD1CE</key>
		<array/>
		<key>8BBC517A-639D-4455-82A1-F158D832FDEC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3EA6A9C1-2481-461B-82E6-397F053DD1CE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AC78A799-95D5-4AEE-98BC-75826AEC3196</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1C81B166-F846-4A4E-98FF-9390C866FA11</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E0F5E7BA-2B15-49DD-8B43-F58CDEC48414</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E8207EE1-C380-4D2D-9B7B-07CC564329EB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AC78A799-95D5-4AEE-98BC-75826AEC3196</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>CYJB</string>
	<key>description</key>
	<string>生成或识别二维码</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>二维码</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>qr</string>
				<key>subtext</key>
				<string>{query}</string>
				<key>text</key>
				<string>生成二维码</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>8BBC517A-639D-4455-82A1-F158D832FDEC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>1C81B166-F846-4A4E-98FF-9390C866FA11</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string># 注入环境变量
[[ -s ~/.bashrc ]] &amp;&amp; source ~/.bashrc
# 执行脚本
./generate.js "$qrPath" "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3EA6A9C1-2481-461B-82E6-397F053DD1CE</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>qrs</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>识别二维码</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E8207EE1-C380-4D2D-9B7B-07CC564329EB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>识别二维码</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>E0F5E7BA-2B15-49DD-8B43-F58CDEC48414</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string># 注入环境变量
[[ -s ~/.bashrc ]] &amp;&amp; source ~/.bashrc
# 执行脚本
./scan.js | tr -d '\n'</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>AC78A799-95D5-4AEE-98BC-75826AEC3196</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>生成和识别二维码

可以使用 qrPath 环境变量设置生成二维码的文件路径。</string>
	<key>uidata</key>
	<dict>
		<key>1C81B166-F846-4A4E-98FF-9390C866FA11</key>
		<dict>
			<key>xpos</key>
			<integer>590</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>3EA6A9C1-2481-461B-82E6-397F053DD1CE</key>
		<dict>
			<key>xpos</key>
			<integer>380</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>8BBC517A-639D-4455-82A1-F158D832FDEC</key>
		<dict>
			<key>xpos</key>
			<integer>180</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>AC78A799-95D5-4AEE-98BC-75826AEC3196</key>
		<dict>
			<key>xpos</key>
			<integer>380</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>E0F5E7BA-2B15-49DD-8B43-F58CDEC48414</key>
		<dict>
			<key>xpos</key>
			<integer>590</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>E8207EE1-C380-4D2D-9B7B-07CC564329EB</key>
		<dict>
			<key>xpos</key>
			<integer>180</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>qrPath</key>
		<string>$TMPDIR/qr.png</string>
	</dict>
	<key>version</key>
	<string>1.0.1</string>
	<key>webaddress</key>
	<string>https://github.com/CYJB/Alfred-Workflow-QR</string>
</dict>
</plist>
